<h1>Editing categoriaingreso</h1>

<%= render "form", categoriaingreso: @categoriaingreso %>

<br>

<div>
  <%= link_to "Show this categoriaingreso", @categoriaingreso %> |
  <%= link_to "Back to categoriaingresos", categoriaingresos_path %>
</div>
