<div id="<%= dom_id categoriaegreso %>">
  <p>
    <strong>Categoria:</strong>
    <%= categoriaegreso.categoria %>
  </p>

  <p>
    <strong>Icono:</strong>
    <%= categoriaegreso.icono %>
  </p>

</div>
