<h1>Editing categoriaegreso</h1>

<%= render "form", categoriaegreso: @categoriaegreso %>

<br>

<div>
  <%= link_to "Show this categoriaegreso", @categoriaegreso %> |
  <%= link_to "Back to categoriaegresos", categoriaegresos_path %>
</div>
